.error {
  .jumbotron;
  min-height: 500px;

  &-404 {
    background: url("../img/beer-glass.jpg") no-repeat bottom right;
  }

  &-403 {
    background: url("../img/beer-ban.jpg") no-repeat bottom right;
  }

  &-500 {
    background: url("../img/beer-glass-broken.jpg") no-repeat bottom right;
  }
}