<ui-select ng-model="select.model"
           ng-required="select.isRequired">

  <ui-select-match placeholder="Zadejte název pivovaru...">{{$select.selected.name}}</ui-select-match>
  <ui-select-choices repeat="brewery in select.breweries track by brewery.id"
                     refresh="select.refreshBreweries($select.search)"
                     refresh-delay="0">
    <span ng-bind="brewery.name"></span>
  </ui-select-choices>
</ui-select>