<div>
  <H2>Auth</H2>


  <p class="alert alert-warning" ng-if="auth.isBadLogin">
    Špatné jméno nebo heslo
  </p>


  <div class="row">
    <div class="col-sm-8">
      <button auth-is-not-authenticated type="button" class="btn btn-default" ng-click="auth.login()">
        Přihlásit
      </button>
      <button auth-is-not-authenticated type="button" class="btn btn-default" ng-click="auth.loginModal()">
        Přihlásit modálním oknem
      </button>
      <button auth-is-not-authenticated type="button" class="btn btn-default" ng-click="auth.wrongLogin()">
        Špatný login
      </button>
      <button auth-is-authenticated type="button" class="btn btn-default" ng-click="auth.logout()">
        Odhlásit
      </button>
      <button auth-is-authenticated type="button" class="btn btn-default" ng-click="auth.renewToken()">
        Prodloužit platnost
      </button>
    </div>

    <div class="col-sm-4 text-right">
      <button auth-is-not-authenticated type="button" class="btn btn-default" ng-click="auth.setExpireToken(15)">
        Platnost tokenu - 15s
      </button>
      <button auth-is-not-authenticated type="button" class="btn btn-default" ng-click="auth.setExpireToken(3600)">
        Platnost tokenu - hodina
      </button>
    </div>
  </div>
  <br/>

  <div class="well row" auth-is-authenticated>
    <div class="col-sm-12">
      Token:
      <pre>{{auth.service.info.token || json}}</pre>
    </div>

    <div class="col-sm-3">
      Header:
      <pre>{{auth.parts[0]}}</pre>
      <pre>{{auth.json[0] | json}}</pre>

    </div>
    <div class="col-sm-4">
      Claims:
      <pre>{{auth.parts[1]}}</pre>
      <pre>{{auth.json[1] | json}}</pre>
      <pre>exp:  {{auth.service.info.expires | date:"medium"}} {{auth.expires}}</pre>

    </div>
    <div class="col-sm-5">
      Hash:
      <pre>{{auth.parts[2]}}</pre>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-sm-12 auth-is-authenticated">
      <button type="button" class="btn btn-default" ng-click="auth.load()">Nahrát chráněná data</button>
      <button type="button" class="btn btn-default" ng-click="auth.loadDenied()">Nahrát nedostupná data</button>
    </div>

  </div>
  <br/>

  <div class="row" ng-if="auth.data">
    <div class="well col-sm-12">
      <pre>{{auth.data || json}}</pre>
    </div>
  </div>

</div>