<div class="ratings">

  <div class="panel panel-default">
    <div class="rating" ng-repeat="rating in ratingController.ratings">
      <div class="panel-heading">
        <span class="user" ng-bind="rating.name"></span>
        <span class="date" ng-bind="rating.date | date: 'medium'"></span>
        <span class="starts" beer-rating="rating.rating"></span>
      </div>
      <p class="panel-body">
        {{rating.description}}
      </p>
    </div>

    <div class="panel-footer">
      <form name="ratingController.form" novalidate ng-submit="ratingController.create()">

        <div class="form-group">
          <label for="rating-name">Jméno:</label>
          <input id="rating-name" class="form-control" type="text"
                 name="name"
                 ng-model="ratingController.new.name"
                 required
              />
          <ng-messages for="ratingController.form.name.$error"
                       ng-if="ratingController.form.$submitted || ratingController.form.name.$touched"
                       include="common/cz/angular/validation/standardMessages-cs.html">
          </ng-messages>
        </div>

        <div class="form-group">
          <label for="rating-rating">Hodnocení:</label>
          <rating id="rating-rating"
                  name="rating"
                  ng-model="ratingController.new.rating"
                  required
              ></rating>
          <ng-messages for="ratingController.form.rating.$error"
                       ng-if="ratingController.form.$submitted || ratingController.form.rating.$touched"
                       include="common/cz/angular/validation/standardMessages-cs.html">
          </ng-messages>
        </div>

        <div class="form-group">
          <label for="rating-description">Popis:</label>
    <textarea id="rating-description" class="form-control" type="text"
              name="description"
              ng-model="ratingController.new.description"
              required
        ></textarea>
          <ng-messages for="ratingController.form.description.$error"
                       ng-if="ratingController.form.$submitted || ratingController.form.description.$touched"
                       include="common/cz/angular/validation/standardMessages-cs.html">
          </ng-messages>
        </div>

        <button type="submit">Ohodnotit</button>
        <button type="reset">Smazat</button>
      </form>
    </div>
  </div>
</div>
