<div class="pull-right">
  <a ui-sref="beers.create" class="btn btn-default btn-success" auth-has-role="ROLE_ADMIN">
    <span class="glyphicon glyphicon-plus"></span>
    Přidat pivo
  </a>
</div>

<h2>
  Seznam piv
</h2>

<div class="beer-list">

  <table>
    <thead>
    <tr class="header">
      <th class="text-right" width="30%">Název</th>
      <th width="15%">Stupeň</th>
      <th width="15%">Alkohol</th>
      <th width="20%">Pivovar</th>
      <th  width="20%"></th>
    </tr>
    <tr>
      <th>
        <input class="form-control"
               type="text"
               ng-model="list.queryParams.query"/>
      </th>
      <th>
        <beer-degree-select ng-model="list.queryParams.degree"></beer-degree-select>
      </th>
      <th>
        <div class="alcohol-filtr-item">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-btn" dropdown>
                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                  {{list.queryParams.alcoholOperator}}&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li ng-click="list.queryParams.alcoholOperator = '='">&nbsp;=&nbsp;</li>
                  <li ng-click="list.queryParams.alcoholOperator = '&lt;'">&nbsp;&lt;&nbsp;</li>
                  <li ng-click="list.queryParams.alcoholOperator = '&gt;'">&nbsp;&gt;&nbsp;</li>
                </ul>
              </div>
              <input type="number" class="form-control" ng-model="list.queryParams.alcohol"/>
            </div>
          </div>
        </div>
      </th>
      <th>
        <brewery-select name="brewery" model="list.queryParams.brewery" required></brewery-select>
      </th>
      <th class="text-right">
        <button type="button" class="btn-reset-search" ng-click="list.resetForm()">Vynulovat hledání</button>
      </th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="beer in list.beers">

      <td>{{beer.name}}</td>
      <td class="text-center">{{beer.degree}}</td>
      <td class="text-center">{{beer.alcohol}}</td>
      <td>{{beer.brewery.name}}</td>

      <td class="actions">
        <a class="detail" ui-sref="beers.beer.detail({ id: beer.id })"><span class="icon"></span> Detail</a>
        <a class="edit" ui-sref="beers.beer.detail.edit({ id: beer.id })" auth-has-role="ROLE_ADMIN"><span
            class="icon"></span></a>
        <button class="btn remove" auth-has-role="ROLE_ADMIN" ng-click="list.remove(beer)"><span class="icon"></span></button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="text-center" ng-if="list.paging.totalItems == 0">
    Nebylo nalezeno žádné pivo
  </div>

  <div class="text-center" ng-if="list.paging.totalItems > 0">
    <pagination items-per-page="list.paging.perPage" total-items="list.paging.totalItems"
                ng-model="list.queryParams.page"></pagination>
  </div>
</div>