<h2 ui-bind-data="title"></h2>
<div class="row">
  <div class="col-sm=12 col-md-6 col-lg-6 well">
    <brewery-form brewery="edit.brewery"
                  on-save="edit.onSave(brewery)"
                  on-cancel="edit.onCancel()"
                  on-error="edit.onError(error)">
    </brewery-form>
  </div>
</div>