<div class="modal-body">

  <p class="alert alert-warning">
    Nemáte dostatečná oprávnění
  </p>

</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="auth.cancel()">Zrušit</button>
</div>
