<div class="detail">
  <h2>{{detail.beer.name}}
    <a class="edit" ui-sref=".edit" auth-has-role="ROLE_ADMIN">
      <span class="icon"></span>
    </a>
  </h2>
  <table class="table">
    <thead>
    <tr>
      <th colspan="2" class="text-center">Uváděné hodnoty</th>
    </tr>
    </thead>
    <tr>
      <th>Alkohol:</th>
      <td>{{detail.beer.alcohol}}%</td>
    </tr>
    <tr>
      <th>Stupeň:</th>
      <td>{{detail.beer.degree}}°</td>
    </tr>
  </table>
  <p class="lead">{{detail.beer.description}}</p>
</div>