<div class="cz-angular-bootstrap-notifications">
  <div class="alert alert-dismissable"
       ng-repeat="notification in notificationsController.notificationsSerice.notifications"
       ng-class="'alert-' + notification.type"
       role="alert">
    <button type="button" class="close" ng-click="notificationsController.close(notification)">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <strong>{{::notification.title}}</strong>
    <p ng-if="::notification.text">{{::notification.text}}</p>

    <div class="button-box"
         ng-if="::notification.buttonText">
      <button class="btn btn-link"
              ng-click="notificationsController.buttonClick(notification)">
        {{::notification.buttonText}}
      </button>
    </div>
  </div>
</div>